:root {
  --font-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --family-color: #212121;
}

body {
  font-family: var(--font-family);
  color: var(--family-color);
}
a {
  text-decoration-line: none;
}
ul {
  list-style-type: none;
    }
h2,
h3,
h4,
h5,
h6{
    margin: 0;  
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
}

.list{
    list-style: none;
}

img{
    display: block;
}

.container{
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

/*----COMPONENTS-----*/
.main-button{

}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.footer-phone-number:hover,
.footer-phone-number:focus,
.footer-mailto:hover,
.footer-mailto:focus,
.footer-address:hover,
.footer-address:focus,
.navigation-list-link:focus,
.navigation-list-link:hover{
  color: #2196f3;
}

.secondary-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.third-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/*----END-COMPONENTS-----*/

/*------HEDER------*/
.header {
  border-bottom: 1px solid #ececec;
}
.header .container{
  display: flex;
  align-items: center;
  Height: 80px;
}
.navigation-logo {
  margin-right: 93px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-family: "Roboto", sans-serif;
}
.navigation-logo-color {
  color:var(--main-color);
}
.navigation-list{
  display: flex;
  align-items: center;
}
.navigation-item-list:not(:last-child){
  margin-right: 46px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.contact-list{
  display: flex;
  align-items: center;
  margin:0;
}
.header .contact{
  margin-left: auto;
}
.contact-mail{
  margin-right: 50px;
}
.nav-adv-item:not(:last-child){
  margin-right: 30px;
  top: 93px;
}
.nav-adv{
  padding-top: 94px;
  margin:0;
}
.nav-adv-item{
   top: 774px;
}

.contact-list-link,
.contact-phone-number,
.contact-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

/*------END-HEDER------*/
/*--HERO--*/
.main-heder {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:#FFFFFF;
 
}

.hero {
  background: #2f303a;
}

.main-button{
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto",sans-serif;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.nav-adv-list{
    display: flex;
    justify-content: space-between;
}

/*--END-HERO--*/

/*--WHAT-WE-DO--*/
.what-we-do .secondary-header{
  margin-bottom: 50px;
  margin-top: 0;
}

.what-we-do-list{
  display: flex;
  justify-content: space-between;
}

.nav-adv-h4 {
  left: 215px;
  top: 774px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2196f3;
}

.nav-adv-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/*--END-WHAT-WE-DO--*/

/*--OUR-TEAM--*/
.staff .secondary-header{
  margin-bottom: 50px;
  margin-top: 0;
}
.what-we-do-list{
  display: flex;
  justify-content: space-between;
}
.staff .secendary-header{
margin-bottom: 50px;
margin-top: 0;
text-align: center;
}
.third-header{
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.staff{
  background: #F5F4FA;
}

.staff-p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.what-we-do-item{
    left: 815px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
  

/*--END-OUR-TEAM--*/
/*--FOOTER--*/
.navigation-logo-footer{
  margin-top: 60px;
}

.footer-address{
  margin-top: 20px;
  margin-bottom: 9px;
}
.address-list-item:not(:last-child){
  margin-bottom: 9px;
}

.footer-mailto,
.footer-phone-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background: #2f303a;
}

.navigation-logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*--END-FOOTER--*/


/*--PORTFOLIO-BUTTONS--*/
.buttons{
  padding-top: 94px;
}

.buttons-porfolio-item:not(:last-child){
  margin-right: 8px;
}

 .buttons-porfolio-list{
  display: flex;
  align-items: center;
  margin-left: 332px;
 align-items: center;
}

.model-btn-portfolio{
     margin: 0 auto;
    display: block;
    width: 93px;
    height: 38px;
    left: 639px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0;
}

.model-btn-portfolio:hover,
.model-btn-portfolio:focus{
    background: #2196F3;
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
/*--END-PORTFOLIO-BUTTONS--*/
}

/*--PORTFOLIO-PROJECT--*/

.third-header-project{
  margin: 0;
  padding-top: 20px;
  }
  
  .description-project{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  padding-top: 4px;
  }
  .project-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }

  .project-list-item:not(:last-child){
    margin-right: 30px;
    margin-bottom: 30px;
  }
  /*--END-PORTFOLIO-PROJECT--*/
